#root {
  max-width: 1280px;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 2rem;
  padding: 1rem 2rem;
  text-align: center;
}

.logo {
  height: 2em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #6DD9BCAA);
}
.logo.confluent:hover {
  filter: drop-shadow(0 0 2em #751DE4AA);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
